body {
  margin: 0;
}

.colors {
  display: grid;
  grid-auto-rows: 11rem;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
}

.color-card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.color-card .hex {
  font-family: monospace;
}
